$primary: rgb(74, 174, 174); // 4aaeae
$dark: #141414;
$secondary: #242424;
$light: #505050;
$warning: #D5A845;
$success: #329D4F;
$info: #b5b5b5;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
  "warning": $warning,
  "success": $success,
  "info": $info
);