$primary: #60C4C4;
$dark: #141414;
$secondary: #242424;
$light: #505050;
$warning: #D5A845;
$success: #329D4F;

$theme-colors: (
  "primary":    $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
  "warning": $warning,
  "success": $success
);