@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$headings-font-family: "Quicksand", sans-serif;
$font-family-base: "Mukta", sans-serif;
$enable-responsive-font-sizes: true;
$font-sizes: ( html: ( xs: 0.75rem, sm: 0.813rem, md: 0.875rem, lg: 0.938rem, xl: 1rem ), );

.font-weight-title {
  font-weight: 900 !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $name, $values in $font-sizes {
      @each $n, $value in $values {
        @if($infix == "-#{$n}" or ($infix == "" and $n == "xs")) {
          #{$name} { font-size: $value; }
        }
      }
    }
  }
}