@import 'assets/stylesheets/colors';
@import 'assets/stylesheets/font';
@import 'assets/stylesheets//button';
@import "node_modules/bootstrap/scss/bootstrap";

#root {
  height: 100%;
  
}

.modal-content {
  background-color: $secondary;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important; 

  .modal-header {
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
  }

  .close {
    color: white;
    &:hover {
      color: #d5d5d5;
    }
  }
}

.rounded-lg {
  border-radius: 0.5rem !important;
}

.rounded-modal {
  border-radius: 1rem !important;
}