@import 'assets/stylesheets/colors';
@import 'assets/stylesheets/font';
@import 'assets/stylesheets//button';
@import "node_modules/bootstrap/scss/bootstrap";

#root {
  height: 100%;
}



.modal-content {
  border-radius: 20px !important;

  .close {
    color: white;
    &:hover {
      color: #d5d5d5;
    }
  }
}