@import 'assets/stylesheets/colors';

.nav-items {
  .label {
    margin-right: 1.75rem;
    cursor: pointer;
    transition: 0.25s color;
    font-weight: 600;
    
    &:hover {
      color: $primary;
    }
  }
}