@import "theme/variables";

.nav-bar {
  position: fixed;
  width: 100%;

  .nav-items {
    .label {
      margin-right: 1.75rem;
      cursor: pointer;
      transition: 0.25s color;
      font-weight: 600;

      &:hover {
        color: $vb-primary;
      }
    }

    .large-label {
      display: none;
    }
  }

  .profile-wrapper {
    position: relative;

    .profile-picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      border: 3px solid $vb-primary;
      transition: border 0.2s ease-in-out, height 0.1s ease-in-out, width 0.1s ease-in-out;

      &:hover {
        border: 3px solid $vb-warning;
        cursor: pointer;
      }
    }

    .profile {
      position: absolute;
      top: -100px;
      right: 0;
      transition: opacity 0.5s ease-in 0.15s, transform 0.3s ease-in-out, top 0.3s ease-in-out;
      opacity: 0;

      &.show {
        top: 55px;
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  .large-label {
    display: block !important;
  }
}
