@import 'assets/stylesheets/colors';

.nav-items {
  .label {
    margin-right: 1.75rem;
    cursor: pointer;
    transition: 0.25s color;
    font-weight: 600;
    
    &:hover {
      color: $primary;
    }
  }
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid $primary;
  transition: border 0.2s ease-in-out;

  &:hover {
    border: 3px solid $warning;
    cursor: pointer;
  }
}