name: CLI Deploy

on:
  push:
    branches:
      - "cli"
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '12.x'
        registry-url: 'https://registry.npmjs.org'
        
    - name: Install Dependencies
      working-directory: ./cli
      run: npm install
      
    - name: Publish
      working-directory: ./cli 
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}