@import "theme/variables";
@import "theme/font";
@import "node_modules/bootstrap/scss/bootstrap";

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #e8e8e8;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}
::-webkit-scrollbar-track {
  background: $vb-dark;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
